.input_error {
    border-color: #ff5b5b;
}

.error_msg {
    color: red;
    font-size: 12px;
}

.t-danger {
    color: red
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #35b8e0 !important;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white !important;
}

.t-danger { color:red }

.s-c{
  display: flex; 
  align-items: center; 
  justify-content: center;
}